* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafaf9;
  position: relative;
  overflow-x: hidden;
  cursor: url("./assets/icons8-select-cursor-48.png"), auto;
}
.all_content {
  max-width: 1600px;
  margin: auto;
}
body::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.prod.website-files.com/63498a931067812a68374506/6599e1af9917def056ba4d7e_Primary%4050.png");
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

header {
  height: 100vh;
  max-height: 700px;
  padding: 25px 50px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 10px 50px;
  z-index: 10;
  width: 100vw;
  align-items: center;
  transition: 0.5s;
}
nav div {
  display: flex;
  justify-content: center;
}
nav p {
  font-family: "Edu AU VIC WA NT Pre", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #e0b152;
  font-size: 1.5rem;
}
nav a {
  color: #333;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10px;
  font-size: 1.2rem;
}
nav a:hover {
  color: #e0b152;
  transition: 0.1s;
}
nav.scrollnav::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
}
header h1 {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  font-size: 4rem;
  margin-top: 50px;
  width: calc(100% - 450px);
}
header h1 span {
  color: #666666;
}

.header_images {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  height: 500px;
}

.header_images .img1 {
  width: 80%;
  height: 90%;
  border-radius: 50% 50% 50% 50% / 30% 30% 30% 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  position: absolute;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.header_images .img1 img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header_images::before {
  content: "";
  width: calc(80% + 25px);
  height: calc(90% + 25px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed #777;
  border-radius: 50% 50% 50% 50% / 30% 30% 30% 30%;
}

.scroll {
  position: absolute;
  bottom: 50px;
  left: 55%;
  width: 150px;
  animation: scrollBtn 2s infinite linear alternate-reverse;
}
@keyframes scrollBtn {
  100% {
    bottom: 30px;
  }
}
.scroll img {
  width: 100%;
}

/* -- main --*/
main .card {
  width: calc(100% - 100px);
  margin: 50px auto;
  background-color: #fff;
  border-radius: 50px;
  padding: 25px;
  position: relative;
  box-shadow: rgba(239, 239, 239, 0.3) 0px 20px 50px 0px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
main .card img {
  display: inline-block;
  width: 200px;
}

main .card p {
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  font: 18px / 28px "Source Sans Pro", Arial, sans-serif;
  z-index: 1;
  z-index: 2;
  position: relative;
}
main .card:nth-child(even) {
  flex-direction: row-reverse;
}

.bottom {
  width: 80%;
  text-align: center;
  margin: 100px auto 200px auto;
  font: 18px / 28px "Source Sans Pro", Arial, sans-serif;
}
.bottom img {
  width: 50px;
}
.bottom h2 {
  font-size: 2.2rem;
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  line-height: 1.1em;
}
.bottom h3 {
  font-size: 1.2rem;
  margin: 10px auto;
}
.bottom p {
  margin: 15px auto;
}
.bottom button {
  background-color: #e0b152;
  font-size: 1.2rem;
  border: 0;
  border-radius: 50px;
  padding: 20px 50px;
}

/* -- story */
#story_con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
#story_con.active {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.story {
  width: 90%;
  height: 80%;
  border: 5px groove #666666;
  border-radius: 25px;
  position: relative;
  background-color: #efefef;
}
.next_prev {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}
.next_prev button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  cursor: pointer;
  gap: 10px;
  font-size: 1rem;
  text-transform: capitalize;
  border: 1px dashed gray;
  border-radius: 0px 20px 20px 0px;
}
.next_prev button span {
  font-size: 2rem;
}
.next_prev_back span {
  transform: rotateY(-180deg);
  transform-origin: center;
  display: block;
}
.next_prev_back {
  border-radius: 20px 0 0 20px !important;
}
.next_prev button:hover,
.close_story:hover {
  transition: 0.2s;
  background-color: #e0b152;
  border-color: #000;
}

.close_story {
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 2rem;
  border: 2px solid #000;
  /* background-color: #e0b152; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.story h1 {
  font-size: 3rem;
  font-family: "Edu AU VIC WA NT Pre", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #e0b152;
  position: absolute;
  top: 40%;
  left: 30%;
}

/* -- responsive -- */
.toggle_nav_btn {
  visibility: hidden;
  font-size: 2rem;
}
@media screen and (max-width: 1100px) {
  header h1 {
    font-size: 3rem;
  }
  .scroll {
    left: 40%;
  }
}

@media screen and (max-width: 900px) {
  header h1 {
    font-size: 2.5rem;
    width: calc(100% - 350px);
  }
  .scroll {
    /* left: 30%; */
    width: 100px;
  }

  .header_images {
    width: 300px;
    height: 400px;
  }
  main .card img {
    width: 150px;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    padding: 25px;
  }
  .header_images {
    position: relative;
    top: 0;
    right: 0;
  }
  header h1 {
    width: 100%;
  }
  .scroll {
    left: 80%;
    bottom: 30%;
  }
  @keyframes scrollBtn {
    100% {
      bottom: 28%;
    }
  }
  nav {
    padding: 10px 25px;
  }
  main .card {
    width: calc(100% - 50px);
    min-width: calc(100% - 50px);
    gap: 25px;
  }
}
.scroll_icon_section {
  display: none;
}
.cards_scroll {
  display: none;
}
@media screen and (max-width: 700px) {
  main .card {
    flex-direction: column;
    align-items: center;
    width: calc(100%);
    min-width: calc(100%);
    z-index: 1;
  }
  main .card:nth-child(even) {
    flex-direction: column;
  }
  #desktop_cards {
    display: none;
  }
  body::after {
    opacity: 0.2;
  }

  #mobile_cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* border: 5px solid #efefef; */
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 85%;
    margin: 0px 10% 0 5%;
    scroll-behavior: smooth;
    border-radius: 10px;
    position: relative;
  }
  #mobile_cards::-webkit-scrollbar {
    width: 5px;
  }
  #mobile_cards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(239, 239, 239, 0);
    border-radius: 10px;
  }
  #mobile_cards::-webkit-scrollbar-thumb {
    background: #e0b152;
    border-radius: 10px;
  }
  #mobile_cards::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  #mobile_cards .card {
    scroll-snap-align: start;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    margin: 0;
    padding: 25px 5px;
  }
  #mobile_cards .card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
  }
  .line_des {
    display: block;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: 1s linear;
  }
  .line_des.active {
    opacity: 1;
  }
  #mobile_cards .card .card_img {
    display: none;
  }

  #mobile_cards .card img {
    animation: im 8s infinite linear alternate;
  }
  @keyframes im {
    0% {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.2) rotate(10deg);
    }
    75% {
      transform: scale(1) rotate(-0deg);
    }
    100% {
      transform: scale(1.2) rotate(-10deg);
    }
  }

  .bottom {
    width: calc(100% - 50px);
  }
  .bottom p {
    text-align: left;
  }
  .scroll_icon_section {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin: 50px 0;
    background-color: #f2f2f2;
    padding: 25px 0;
    border-radius: 25px;
    display: block;
  }
  .scroll_icon {
    position: absolute;
    bottom: 5px;
    left: calc(5% + 5px);
    width: calc(85% - 10px);
    background-color: rgba(239, 239, 239);
    z-index: 2;
    box-shadow: 0px -10px 20px rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Signika", sans-serif;
    font-weight: bold;
    color: #e0b152;
  }
  .scroll_icon div {
    width: 20px;
    height: 30px;
    border: 2px solid #e0b152;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .scroll_icon div::after {
    content: "";
    width: 20%;
    height: 30%;
    background-color: #e0b152;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    animation: scroll_icon 2s infinite ease-out;
    border-radius: 5px;
  }

  @keyframes scroll_icon {
    0% {
      top: 0%;
      height: 30%;
    }
    100% {
      top: 100%;
      height: 50%;
    }
  }

  .scroll_points {
    position: absolute;
    top: 0;
    right: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    z-index: 2;
  }

  .sc {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    border: 1px solid #efefef;
  }
  .sc.active::after {
    content: "";
    width: 300%;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 4px solid #e0b152;
    border-radius: 50%;
  }

  .scroll_images {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .scroll_images .si {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100vw;
    height: 100vw;
    background-color: #efefef;
    overflow: hidden;
    animation: morph 5s linear infinite alternate;
  }

  @keyframes morph {
    0% {
      border-radius: 40% 60% 60% 40% / 70% 30%;
    }

    100% {
      border-radius: 40% 60%;
    }
  }
  .scroll_images .si img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    min-height: 100%;
  }
  .bottom h2 {
    font-size: 1.5rem;
  }
  .bottom h3 {
    font-size: 1.1rem;
  }
  .bottom p {
    font-size: 16px;
    line-height: 1.2rem;
  }
  .bottom {
    margin: 100px auto 50px auto;
  }
}
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 1.7rem;
  }
  .scroll {
    display: none;
  }
  .toggle_nav_btn {
    visibility: visible;
  }
  .nav_links {
    display: none;
  }

  .nav_links.active {
    position: absolute;
    display: flex;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
  }
  .nav_links.active::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
  }
  main .card {
    padding: 10px;
    width: calc(100% - 20px);
  }
  main .card p {
    text-align: left;
  }
}
